html, body {
    min-width: 560px;   
}

#find-me div.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#find-me div.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#find-me div.content {
    overflow:auto;
    
    position: absolute;
    top: 83px;
    left: 0;
    right: 0;
    bottom: 24px;
    
    background-image: url('images/background-about-me.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#find-me div.info {
    width: 40%;
    
    margin-left: auto;
    margin-right: 50%;
    margin-top: 83px;
    
    padding: 20px;
    
    border: 1px solid #000;
    background: rgba(0,0,0,0.49);
}

#find-me div.info h1 {
    font-family: chunkfiveregular;
    color: #900;
    
    font-size: 68px;
    line-height: 78px;
}

#find-me div.info h2 {
    font-family: SourceSansProSemibold;
    color: #FFF;
    
    font-size: 28px;
    line-height: 28px;
    
    margin-left: -.47em;
    margin-bottom: 20px;
    
    padding-left:.47em;
    text-indent:-.47em;
}

#find-me div.info p {
    color: #FFF; 
    
    font-size: 18px;
    line-height: 20px;
    
    text-align: justify;
}

#find-me div.info hr {
    height: 1px;
    margin: 32px -20px;
    border: 0;
    
    background-color: #000;
}

#find-me div.info ul {
    margin: 0 -20px;  
    padding: 0 20px;
}

#find-me div.info ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#find-me div.info ul li {
    color: #FFF;
    width: 33.33333%;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    
    float: left;
}

#find-me div.info ul li a {
    color: inherit;
    text-decoration: none;
    padding-right: 20px;
}

#find-me div.info ul li a:hover {
    text-decoration: underline;
}