body { 
  background-color: #000; 
  font-family: "SourceSansProRegular";
}
.red { background-color: #fe386e; }
.white { background-color: #FFF; }
.grey-light { background-color: #3D3D3D; }
.grey-dark { background-color: #141414; }

header {
  min-width: 900px;
  height: 83px;
  margin-bottom: 20px;

  border-top: #141414 1px solid;
  border-bottom: #141414 1px solid;

  background-color: #090909;
  background-size: 10px 10px;
}

header > a#logo {
  display: block;
  height: inherit;
  width: inherit;

  background-image: url('images/ebn-logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 64%;
}

footer {
  min-width: 900px;
  height: 24px;
  margin-top: 20px;
  clear: both;

  border-top: #141414 1px solid;
  border-bottom: #141414 1px solid;

  background-color: #090909;
  background-size: 10px 10px;
}

footer > div 
{
  text-align: center;
  color: #333;
  font-size: 12px;
  line-height: 24px;
  font-family: "sans-serif";
}

@media only screen and (max-height: 649px) {
  html {
    zoom: 0.75;
  }
}
